<mat-toolbar color="primary">
  <span>Graves</span>
  <mat-form-field class="example-form">
    <mat-label>Search for person name</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" />
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchClicked()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>
<ko-stage [config]="configStage">
  <ko-layer>
    <ko-image [config]="configImage"></ko-image>
  </ko-layer>
  <ko-layer>
    <ko-circle [config]="configCircle" (click)="handleClick($event)"></ko-circle>
  </ko-layer>
  <ko-layer>
    <ko-rect *ngFor="let item of gravesConfigs" [config]="item" (click)="handleRectClick($event)"></ko-rect>
  </ko-layer>
</ko-stage>
