<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search for a grave.
        </mat-panel-title>
        <mat-panel-description>
          Click to collapse / expand the search panel.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="center">
      <mat-form-field class="example-form">
        <mat-label>Search for person name</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="searchClicked()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    </mat-expansion-panel>
  </mat-accordion>
  